.form-control{
  width: 30%;
}
.nombre{
  width: 50%;
}
body{
  background-color: #E4FDE1;
}
.caja{
  background-color: #E4FDE1 !important;
}

.bloque {

  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius:10px;
  /*border: 3px solid pink;*/
  color: #114B5F;
  background-color: #028090;
  text-align: center;
  font-family: 'Saira', sans-serif;


}
input{
  margin: auto;
}

.titulo{
  background-color: #F45B69;
  padding: 1px;
  border-top-left-radius: 10px;
  border-top-right-radius:10px;
  color: #456990;
  text-align: center;
  margin-top: 10px;
  font-family: 'Lobster', cursive;
}

.abajo.bloque{
  padding-top: 40px;
}
h1 {
  font-family: 'Orbitron', cursive;
  color: #F45B69;
  text-align: center;
  font-size: 100px;
  margin-top: 50px;
  margin-bottom: 30px;
}
@media (min-width: 1000px) {
  h1 {
    margin-right: 95px;
  }
}
@media (max-width: 1000px) {
  h1 {
    font-size: 70px;

  }
}
@media (max-width: 700px) {
  h1 {
    font-size: 40px;
  }
}

.parrafo_copete p {
  display: inline-block;
  font-size: 2em;
  transform: translate(5px, 5px)


}
.glyphicon-remove{
  margin-left: 20px;
  transform: translate(7px, 7px);
  font-size: 150%;
}

.parrafo_copete img {
  padding-top: 10px;
  padding-bottom: 20px;
  margin-right: 20px;
}

.abajo{
  margin-bottom: 50px;
}

.titular {
  font-size: 1.5em;
}
